<div class="container containerTextPadding">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h2>Code of Conduct</h2>
      <p>
        An event relies on the beneficial conduct of its community members to
        thrive. Battle for the Ring requires that all participants follow in
        this code of conduct, local, state, and federal law, as well as the
        BMCS Code for Ethical Guidelines. Acting contrary to the goals of
        BMCS or acting in a way that is contrary to the values of our community
        will result in punishment which may include removal from the event.
        This is a brief summary of that code. For the full code of conduct,
        please visit this link.
      </p>
      <a class="btn btn-default btn-block cocbutton" href="\assets\pdf\BftR-Code-of-Conduct1.pdf" role="button">Code of Conduct</a>

      <p>
        Harassment of any kind is not tolerated and can include, but is not
        limited to: sexual harassment, stalking, inappropriate physical touch,
        intimidation, threats, touching without consent, creating a hostile
        environment, or touching/verbal contact after being told it is not
        welcome. This also includes work related harassment of volunteers or
        event staff while performing duties at the event.
      </p>
      <p>
        Any hate speech or symbolism is not allowed. This may include but is
        not limited to: advocating for hate groups or crimes against others,
        violence, animosity, threats, or discussing the removal of rights or
        the right to exist for other groups. Symbols commonly associated with
        hate groups are not permitted on site. These include swastikas and the
        confederate flag, as well as other hate group symbols. Information on
        hate symbols can be found on the Anti-defamation league website. If you
        have concerns about your symbol, feel free to contact the event.
      </p>
      <p>
        Consent is required for others to participate in activities.
        Intoxicated or unconscious persons and minors cannot give consent to
        sexual activities. No means No and people can withdraw consent at
        any-time. Consent is required at all times. Enthusiastic and verbal
        consent is the best practice for sexual activity.
      </p>
      <p>
        Anyone can report harassment or safety issues to event staff or
        security and we will do our best to address these issues at the event.
        When appropriate, staff and volunteers will attempt mediation and
        conflict resolution, then potential punishments like removal from
        activities or even removal from the event. For serious issues,
        volunteers will recommend calling 911. For immediate health and safety
        issues, volunteers must call 911.
      </p>
    </div>
  </div>
</div>
@@include('heroSecondaryFluffImg.html')
<div class="container containerTextPadding">

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h2>This Year's Schedule:</h2>
      <p>
        This is a living google sheet of this year's tentative schedule. Please
        check back frequently, as the actual schedule may still be being updated.
        If you don't see something on the schedule that you were expecting, please
        contact <a href="mailto:battle4thering@gmail.com">battle4thering@gmail.com</a> with your
        inquiry.
      </p>
      <a class="btn btn-default btn-block"
      href="https://docs.google.com/spreadsheets/d/1Ceov8psksscnDZkW2eeeSFHU7XlqZL2MHn-Fsph02WA/edit#gid=1791867781" role="button">
      Click Here!
      </a>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h2>Volunteering</h2>
      <p>
        The event is run by people like you! We appreciate your service.
        For information on how to volunteer, please contact <a href="mailto:battle4thering@gmail.com">battle4thering@gmail.com</a>.
      </p>
      <p>
        We need people of intelligence on this sort of mission... quest... thing...
        We have Aragorn's sword, Legolas' bow, Gimli's axe, Gandalf's staff,
        and Boromir's bullseye-painted chest, and we have some Hobbits to bear
        the ring... but do we have your time? Your dedication? Your
        love of Battle for the Ring? Will you #JOINTHEFELLOWSHIP?
      </p>
    </div>
  </div>
</div>
